.about {
  max-width: 1000px;
  margin: auto;
  font-size: 22px;
}
.about .company_info {
  margin: 45px 10px;
  text-align: justify;
}
.about .company_info p {
  margin-bottom: 20px;
}
.about .company_info .about_label {
  text-align: center;
  margin: 35px;
  font-size: 40px;
  font-weight: 800;
  font-style: italic;
}
.about .products_info {
  margin: 15px 25px;
}
.about .products_info .info_label {
  font-size: 27px;
  font-weight: 800;
  margin-bottom: 20px;
}
.about .products_info .info_list {
  display: flex;
  flex-direction: column;
}
.about .products_info .info_list li {
  position: relative;
  margin: 15px 0px 15px 40px;
}
.about .products_info .info_list li span {
  font-weight: 800;
  font-size: 24px;
  margin-right: 5px;
}
.about .products_info .info_list li::before {
  content: "";
  background-image: url(../../image/icons/info-svgrepo-com.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 45%;
  left: -35px;
}
.about .result {
  font-size: 25px;
  margin: 45px 10px 15px;
}