/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/CoopForm/CoopForm.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CoopForm_CoopForm__MaqwW .CoopForm_coop_wrapper__k_SMG {
  height: 630px;
  max-width: 480px;
  margin: auto;
  box-shadow: 0 0 6px 0 rgba(138, 138, 138, 0.25);
  background: linear-gradient(307deg, #82b37b 0%, #384d35 100%);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-family: "Montserrat", sans-serif;
}
.CoopForm_CoopForm__MaqwW .CoopForm_coop_wrapper__k_SMG .CoopForm_form__qaasF {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 45px;
  gap: 45px;
}
.CoopForm_CoopForm__MaqwW .CoopForm_coop_wrapper__k_SMG .CoopForm_form__qaasF input {
  border: 1px solid #989898;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 146%;
  letter-spacing: 0.04em;
  color: rgb(0, 0, 0);
  padding: 16px 12px;
  width: 380px;
}
.CoopForm_CoopForm__MaqwW .CoopForm_coop_wrapper__k_SMG .CoopForm_form__qaasF textarea {
  font-weight: 500;
  font-size: 16px;
  line-height: 146%;
  letter-spacing: 0.04em;
  color: black;
  padding: 16px 12px;
  border: 1px solid #989898;
  border-radius: 10px;
  width: 380px;
  height: 163px;
}
.CoopForm_CoopForm__MaqwW .CoopForm_coop_wrapper__k_SMG .CoopForm_form__qaasF .CoopForm_submit_btn__S3caw {
  font-weight: 600;
  font-size: 20px;
  line-height: 148%;
  letter-spacing: 0.04em;
  text-align: right;
  color: #fff;
  background: #096518;
  color: white;
  border-radius: 40px;
  padding: 12px 120px;
  width: 380px;
}
@media (max-width: 720px) {
  .CoopForm_CoopForm__MaqwW .CoopForm_coop_wrapper__k_SMG {
    height: 430px;
    max-width: 300px;
    width: 100%;
    margin: auto;
    box-shadow: 0 0 6px 0 rgba(138, 138, 138, 0.25);
    background: linear-gradient(307deg, #82b37b 0%, #384d35 100%);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: "Montserrat", sans-serif;
  }
  .CoopForm_CoopForm__MaqwW .CoopForm_coop_wrapper__k_SMG .CoopForm_form__qaasF {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
    gap: 15px;
    width: 300px;
  }
  .CoopForm_CoopForm__MaqwW .CoopForm_coop_wrapper__k_SMG .CoopForm_form__qaasF input {
    border: 1px solid #989898;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 146%;
    letter-spacing: 0.04em;
    color: rgb(0, 0, 0);
    padding: 16px 12px;
    width: 100%;
  }
  .CoopForm_CoopForm__MaqwW .CoopForm_coop_wrapper__k_SMG .CoopForm_form__qaasF textarea {
    font-weight: 500;
    font-size: 16px;
    line-height: 146%;
    letter-spacing: 0.04em;
    color: black;
    padding: 16px 12px;
    border: 1px solid #989898;
    border-radius: 10px;
    width: 100%;
    height: 163px;
  }
  .CoopForm_CoopForm__MaqwW .CoopForm_coop_wrapper__k_SMG .CoopForm_form__qaasF .CoopForm_submit_btn__S3caw {
    font-weight: 600;
    font-size: 20px;
    line-height: 148%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background: #096518;
    color: white;
    border-radius: 40px;
    padding: 12px 60px;
    width: 100%;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/CoopInfo/CoopInfo.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CoopInfo_CoopInfo__yFfX8 {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  max-width: 475px;
}
.CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw {
  display: flex;
  flex-direction: column;
  position: relative;
}
.CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl {
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(101, 150, 94, 0.8);
  height: 285px;
  color: white;
  padding: 35px;
  border-bottom-right-radius: 25px;
}
.CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 146%;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 15px;
}
.CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 146%;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 15px;
}
.CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl .CoopInfo_phone__d9Wac,
.CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl .CoopInfo_email__flbC8 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 146%;
  letter-spacing: 0.04em;
  color: #fff;
}
.CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl .CoopInfo_phone__d9Wac span,
.CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl .CoopInfo_email__flbC8 span {
  margin-right: 45px;
}
.CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl .CoopInfo_phone__d9Wac a,
.CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl .CoopInfo_email__flbC8 a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 146%;
  letter-spacing: 0.04em;
  color: #01ff2a;
}
@media (max-width: 720px) {
  .CoopInfo_CoopInfo__yFfX8 {
    max-width: 320px;
  }
  .CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw {
    padding: 0px 10px;
    width: 100%;
  }
  .CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw img {
    border-top-left-radius: 25px;
    max-width: 300px;
  }
  .CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl {
    position: absolute;
    box-sizing: border-box;
    max-width: 300px;
    bottom: 0px;
    left: 10px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background: rgba(101, 150, 94, 0.8);
    height: 250px;
    color: white;
    padding: 15px;
    border-bottom-right-radius: 0px;
  }
  .CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 15px;
  }
  .CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl .CoopInfo_phone__d9Wac,
  .CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl .CoopInfo_email__flbC8 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 15px;
  }
  .CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl .CoopInfo_phone__d9Wac span,
  .CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl .CoopInfo_email__flbC8 span {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl .CoopInfo_phone__d9Wac a,
  .CoopInfo_CoopInfo__yFfX8 .CoopInfo_wrapper__rAnHw .CoopInfo_info__hCMnl .CoopInfo_email__flbC8 a {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #01ff2a;
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/Cooperation/style.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_cooperation__q5znc {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 720px) {
  .style_cooperation__q5znc {
    flex-direction: column-reverse;
  }
}
