.footer {
  margin-top: 50px;
  background: #022607;
  color: white;
  font-weight: 500;
}
.footer a {
  font-weight: 500;
  color: white;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}

.footer_row {
  padding: 50px 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_row .footer_nav {
  display: flex;
}
.footer_row .footer_nav li {
  margin-right: 60px;
}
.footer_row .footer_nav li:first-child {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
.footer_row .footer_nav li:first-child img {
  margin-left: 7px;
}
.footer_row .contact_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_row .contact_info .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
}
.footer_row .contact_info .contact .telephone {
  margin-left: 50px;
  margin-bottom: 25px;
  position: relative;
}
.footer_row .contact_info .contact .telephone::before {
  content: "";
  background-image: url(../../image/icons/Phone-LiteGreen.svg);
  background-size: contain;
  background-repeat: no-repeat;
  fill: var(--2, #00AD1C);
  color: #00AD1C;
  position: absolute;
  height: 25px;
  width: 25px;
  top: 0;
  left: -35px;
}
.footer_row .contact_info .contact .street {
  margin-left: 50px;
  position: relative;
}
.footer_row .contact_info .contact .street::before {
  content: "";
  background-image: url(../../image/icons/Location-LiteGreen.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 25px;
  width: 25px;
  top: 0;
  left: -35px;
}
.footer_row .contact_info .graph h2 {
  color: #00AD1C;
  margin-bottom: 25px;
}