.filter {
  box-sizing: border-box;
  box-shadow: 0px 0px 65px 0px rgba(158, 158, 158, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px 25px;
  width: 450px;
  border-radius: 10px;
  border: 0.5px solid rgba(9, 101, 24, 0);
  transition-duration: 0.3s;
}
.filter.active {
  border: 0.5px solid #096518;
}
.filter.active .filter_list {
  top: 50px;
  opacity: 1;
  z-index: 2;
}
@media (max-width: 425px) {
  .filter.active .filter_list {
    top: 40px;
  }
}
.filter.active .svg {
  transform: rotate(180deg);
}
.filter .active {
  color: #096518;
}
.filter .svg {
  transition-duration: 0.3s;
}
.filter .filter_list {
  z-index: -1;
  transition-duration: 0.3s;
  opacity: 0;
  position: absolute;
  padding: 15px 25px;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 310px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 65px 0px rgba(158, 158, 158, 0.25);
}
@media (max-width: 728px) {
  .filter .filter_list {
    left: -120px;
  }
}
@media (max-width: 425px) {
  .filter .filter_list {
    left: 0px;
    width: 230px;
  }
}
.filter .filter_list li {
  transition-duration: 0.2s;
  margin-bottom: 20px;
  cursor: pointer;
}
.filter .filter_list li:hover {
  color: #096518;
  font-size: 22px;
}

@media (max-width: 425px) {
  .filter {
    width: 230px;
    height: 40px;
    font-size: 12px;
  }
  .filter svg {
    height: 17px;
    width: 17px;
  }
}