.footer {
  margin-top: 40px;
  background: #022607;
  color: white;
  font-weight: 500;
  a {
    font-weight: 500;
    color: white;
  }
}

.wrapper {
  max-width: 1400px;
  margin: auto;
  @media (max-width: 1000px) {
    max-width: 1000px;
  }
}
.logo {
  @media (max-width: 1000px) {
    img {
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    }
  }
}
.footer_row {
  padding: 50px 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1000px) {
    padding: 50px 15px;
  }
  .footer_nav {
    display: flex;
    li {
      &:first-child {
        display: flex;
        align-items: center;
        margin-right: 80px;
        img {
          
          margin-right: 5px;
        }
      }
      margin-right: 60px;
    }
    a {
    }
  }
  @media (max-width: 1000px) {
    flex-direction: column;
    .footer_nav {
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      gap: 10px;
      li {
        font-size: 12px;
        margin-right: 0px;
        &:first-child {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          margin-right: 0px;
        }
      }
    }
    .contact_info {
      font-size: 12px;
    }
  }
  .contact_info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 50px;
      @media (max-width: 480px) {
        margin-right: 15px;
      }
      .telephone {
        @media (max-width: 480px) {
          margin-left: 30px;
        }
        margin-left: 50px;
        margin-bottom: 25px;
        position: relative;
        &::before {
          @media (max-width: 480px) {
            height: 17px;
            width: 17px;
            top: 0;
            left: -25px;
          }
          content: "";
          background-image: url(../../image/icons/Phone-LiteGreen.svg);
          background-size: contain;
          background-repeat: no-repeat;
          fill: var(--2, #00ad1c);
          color: #00ad1c;
          position: absolute;
          height: 25px;
          width: 25px;
          top: 0;
          left: -35px;
        }
      }
      .street {
        margin-left: 50px;
        position: relative;
        @media (max-width: 480px) {
          margin-left: 30px;
        }
        &::before {
          @media (max-width: 480px) {
            height: 17px;
            width: 17px;
            top: 0;
            left: -25px;
          }
          content: "";
          background-image: url(../../image/icons/Location-LiteGreen.svg);
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          height: 25px;
          width: 25px;
          top: 0;
          left: -35px;
        }
      }
    }
    .graph {
      h2 {
        color: #00ad1c;
        margin-bottom: 25px;
      }
      p{
        @media (max-width: 370px) {
      
        }
      }
    }
  }
}
