/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/app/globals.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/************************************/
body {
  position: relative;
  color: var(--, #1e1e1e);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex-direction: column;
}

section {
  flex: 1 1 auto;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/Footer/footer.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__feML_ {
  margin-top: 40px;
  background: #022607;
  color: white;
  font-weight: 500;
}
.footer_footer__feML_ a {
  font-weight: 500;
  color: white;
}

.footer_wrapper__UsFq0 {
  max-width: 1400px;
  margin: auto;
}
@media (max-width: 1000px) {
  .footer_wrapper__UsFq0 {
    max-width: 1000px;
  }
}

@media (max-width: 1000px) {
  .footer_logo___d_IO img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
}

.footer_footer_row__uwFcQ {
  padding: 50px 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .footer_footer_row__uwFcQ {
    padding: 50px 15px;
  }
}
.footer_footer_row__uwFcQ .footer_footer_nav__gHxIh {
  display: flex;
}
.footer_footer_row__uwFcQ .footer_footer_nav__gHxIh li {
  margin-right: 60px;
}
.footer_footer_row__uwFcQ .footer_footer_nav__gHxIh li:first-child {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
.footer_footer_row__uwFcQ .footer_footer_nav__gHxIh li:first-child img {
  margin-right: 5px;
}
@media (max-width: 1000px) {
  .footer_footer_row__uwFcQ {
    flex-direction: column;
  }
  .footer_footer_row__uwFcQ .footer_footer_nav__gHxIh {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    gap: 10px;
  }
  .footer_footer_row__uwFcQ .footer_footer_nav__gHxIh li {
    font-size: 12px;
    margin-right: 0px;
  }
  .footer_footer_row__uwFcQ .footer_footer_nav__gHxIh li:first-child {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 0px;
  }
  .footer_footer_row__uwFcQ .footer_contact_info__c7frX {
    font-size: 12px;
  }
}
.footer_footer_row__uwFcQ .footer_contact_info__c7frX {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_footer_row__uwFcQ .footer_contact_info__c7frX .footer_contact__tLg03 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
}
.footer_footer_row__uwFcQ .footer_contact_info__c7frX .footer_contact__tLg03 .footer_telephone__6T_3z {
  margin-left: 50px;
  margin-bottom: 25px;
  position: relative;
}
@media (max-width: 480px) {
  .footer_footer_row__uwFcQ .footer_contact_info__c7frX .footer_contact__tLg03 .footer_telephone__6T_3z {
    margin-left: 30px;
  }
}
.footer_footer_row__uwFcQ .footer_contact_info__c7frX .footer_contact__tLg03 .footer_telephone__6T_3z::before {
  content: "";
  background-image: url(/_next/static/media/Phone-LiteGreen.d33a6da2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  fill: var(--2, #00ad1c);
  color: #00ad1c;
  position: absolute;
  height: 25px;
  width: 25px;
  top: 0;
  left: -35px;
}
@media (max-width: 480px) {
  .footer_footer_row__uwFcQ .footer_contact_info__c7frX .footer_contact__tLg03 .footer_telephone__6T_3z::before {
    height: 17px;
    width: 17px;
    top: 0;
    left: -25px;
  }
}
.footer_footer_row__uwFcQ .footer_contact_info__c7frX .footer_contact__tLg03 .footer_street__Jctbl {
  margin-left: 50px;
  position: relative;
}
@media (max-width: 480px) {
  .footer_footer_row__uwFcQ .footer_contact_info__c7frX .footer_contact__tLg03 .footer_street__Jctbl {
    margin-left: 30px;
  }
}
.footer_footer_row__uwFcQ .footer_contact_info__c7frX .footer_contact__tLg03 .footer_street__Jctbl::before {
  content: "";
  background-image: url(/_next/static/media/Location-LiteGreen.f7665e9c.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 25px;
  width: 25px;
  top: 0;
  left: -35px;
}
@media (max-width: 480px) {
  .footer_footer_row__uwFcQ .footer_contact_info__c7frX .footer_contact__tLg03 .footer_street__Jctbl::before {
    height: 17px;
    width: 17px;
    top: 0;
    left: -25px;
  }
}
.footer_footer_row__uwFcQ .footer_contact_info__c7frX .footer_graph__0TKtm h2 {
  color: #00ad1c;
  margin-bottom: 25px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/lang/lang.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.lang_lang__w3vq0 {
  display: flex;
}
@media (max-width: 1000px) {
  .lang_lang__w3vq0 {
    font-size: 16px;
  }
}

.lang_ua__MhrLw {
  margin-right: 10px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/header/header.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__w2BOs {
  width: 100%;
  padding: 0px 10px;
}

.header_header_row__PtYFE {
  padding: 40px 10px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header_header_row__PtYFE .header_logo_image__rhtJA {
  width: 50px;
  height: 50px;
}
@media (min-width: 1224px) {
  .header_header_row__PtYFE .header_logo_image__rhtJA {
    width: 100px;
    height: 100px;
  }
}

.header_header_wrapper__41_b6 {
  max-width: 1400px;
  margin: auto;
}
@media (max-width: 480px) {
  .header_header_wrapper__41_b6 {
    max-width: 320px;
  }
}

.header_module_block__KmNeP {
  position: fixed;
  top: 0px;
  right: 0px;
}

.header_mobile_header__xH_uM {
  display: none;
}
.header_mobile_header__xH_uM.header_active__PzFV3 .header_burger_content__6CVaL {
  z-index: 5;
  opacity: 1;
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL {
  transition-duration: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: -5;
  opacity: 0;
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU {
  width: 200px;
  transition-duration: 0.3s;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0px;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px;
  padding-top: 100px;
  z-index: 6;
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger__5M9TH {
  position: absolute;
  top: 30px;
  right: 25px;
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger_navigate__EfzHz {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger_navigate__EfzHz li {
  font-size: 12px;
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger_navigate__EfzHz li:nth-child(1) {
  align-self: flex-start;
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger_navigate__EfzHz li:nth-child(6) {
  margin-top: 10px;
  align-self: flex-start;
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger_navigate__EfzHz li:nth-child(7) {
  align-self: flex-start;
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger_navigate__EfzHz li:nth-child(8) {
  align-self: flex-start;
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger_navigate__EfzHz li span {
  display: block;
  color: #096518;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger_navigate__EfzHz li .header_picture_home__rawqt {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger_navigate__EfzHz li .header_graph__UaSAi h2 {
  color: #096518;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger_navigate__EfzHz li .header_burger_telephone__qBDth {
  font-size: 14px;
  position: relative;
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger_navigate__EfzHz li .header_burger_street__PQ1k4 {
  position: relative;
}
@media (min-width: 1224px) {
  .header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger_navigate__EfzHz li .header_burger_street__PQ1k4 {
    font-size: 16px;
  }
  .header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger_navigate__EfzHz li .header_burger_street__PQ1k4::before {
    height: 25px;
    width: 25px;
    left: -35px;
  }
}
.header_mobile_header__xH_uM .header_burger_content__6CVaL .header_burger_main__zvsDU .header_burger_navigate__EfzHz li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
}

@media (max-width: 1000px) {
  .header_header_row__PtYFE {
    padding: 40px 25px;
  }
  .header_header_row__PtYFE img {
    height: 40px;
    width: 40px;
  }
  .header_mobile_header__xH_uM {
    display: none;
  }
  .header_mobile_header__xH_uM.header_active__PzFV3 .header_burger_content__6CVaL {
    z-index: 5;
    opacity: 1;
  }
  .header_mobile_header__xH_uM.header_active__PzFV3 .header_burger_main__zvsDU {
    transition-duration: 0.3s;
  }
  .header_header_wrapper__41_b6 {
    max-width: 760px;
    margin: auto;
  }
  .header_mobile_header__xH_uM {
    display: flex;
    align-items: center;
  }
  .header_burger__5M9TH {
    z-index: 5;
    margin-left: 25px;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 1.727px 7.401px 0px rgba(56, 56, 56, 0.15);
  }
  .header_burger__5M9TH.header_active__PzFV3::before {
    top: 19px;
    transform: rotate(45deg);
  }
  .header_burger__5M9TH.header_active__PzFV3::after {
    top: 19px;
    transform: rotate(-45deg);
  }
  .header_burger__5M9TH::after, .header_burger__5M9TH::before {
    transition-duration: 0.3s;
    content: "";
    width: 20px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 15px;
    left: 10px;
  }
  .header_burger__5M9TH::before {
    top: 26px;
  }
}
.header_navigate__a2Z4s {
  display: flex;
  align-items: center;
  gap: 25px;
}
@media (max-width: 1000px) {
  .header_navigate__a2Z4s {
    display: none;
  }
}
.header_navigate__a2Z4s li {
  font-size: 12px;
}
@media (min-width: 1224px) {
  .header_navigate__a2Z4s li {
    font-size: 16px;
  }
}
.header_navigate__a2Z4s li .header_telephone__O7JUi {
  font-size: 14px;
  margin-left: 50px;
  position: relative;
}
@media (min-width: 1224px) {
  .header_navigate__a2Z4s li .header_telephone__O7JUi {
    font-size: 16px;
  }
  .header_navigate__a2Z4s li .header_telephone__O7JUi::before {
    height: 25px;
    width: 25px;
    left: -35px;
  }
}
.header_navigate__a2Z4s li .header_telephone__O7JUi::before {
  content: "";
  background-image: url(/_next/static/media/Phone.3060ae83.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 15px;
  width: 15px;
  top: 0;
  left: -30px;
}
.header_navigate__a2Z4s li .header_street__oK6pL {
  margin-left: 50px;
  position: relative;
}
@media (min-width: 1224px) {
  .header_navigate__a2Z4s li .header_street__oK6pL {
    font-size: 16px;
  }
  .header_navigate__a2Z4s li .header_street__oK6pL::before {
    height: 25px;
    width: 25px;
    left: -35px;
  }
}
.header_navigate__a2Z4s li .header_street__oK6pL::before {
  content: "";
  background-image: url(/_next/static/media/Location.d1bf6aaa.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 15px;
  width: 15px;
  top: 0;
  left: -30px;
}
.header_navigate__a2Z4s li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
}
