/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/Products-seaction/Filter/filter.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.filter_filter___i7_J {
  box-sizing: border-box;
  box-shadow: 0px 0px 65px 0px rgba(158, 158, 158, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px 25px;
  width: 450px;
  border-radius: 10px;
  border: 0.5px solid rgba(9, 101, 24, 0);
  transition-duration: 0.3s;
}
.filter_filter___i7_J.filter_active__Sb7hn {
  border: 0.5px solid #096518;
}
.filter_filter___i7_J.filter_active__Sb7hn .filter_filter_list__M33w7 {
  top: 50px;
  opacity: 1;
  z-index: 2;
}
@media (max-width: 425px) {
  .filter_filter___i7_J.filter_active__Sb7hn .filter_filter_list__M33w7 {
    top: 40px;
  }
}
.filter_filter___i7_J.filter_active__Sb7hn .filter_svg__gC2D3 {
  transform: rotate(180deg);
}
.filter_filter___i7_J .filter_active__Sb7hn {
  color: #096518;
}
.filter_filter___i7_J .filter_svg__gC2D3 {
  transition-duration: 0.3s;
}
.filter_filter___i7_J .filter_filter_list__M33w7 {
  z-index: -1;
  transition-duration: 0.3s;
  opacity: 0;
  position: absolute;
  padding: 15px 25px;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 310px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 65px 0px rgba(158, 158, 158, 0.25);
}
@media (max-width: 728px) {
  .filter_filter___i7_J .filter_filter_list__M33w7 {
    left: -120px;
  }
}
@media (max-width: 425px) {
  .filter_filter___i7_J .filter_filter_list__M33w7 {
    left: 0px;
    width: 230px;
  }
}
.filter_filter___i7_J .filter_filter_list__M33w7 li {
  transition-duration: 0.2s;
  margin-bottom: 20px;
  cursor: pointer;
}
.filter_filter___i7_J .filter_filter_list__M33w7 li:hover {
  color: #096518;
  font-size: 22px;
}

@media (max-width: 425px) {
  .filter_filter___i7_J {
    width: 230px;
    height: 40px;
    font-size: 12px;
  }
  .filter_filter___i7_J svg {
    height: 17px;
    width: 17px;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/Products-seaction/Card/card.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.card_product_card__jnE_b {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition-duration: 0.3s;
  cursor: pointer;
  margin: 0px 10px 20px 10px;
  width: 210px;
  max-height: 350px;
  font-size: 16px;
  font-weight: 500;
  color: #1e1e1e;
  box-shadow: 0px 4px 25px 0px rgba(168, 168, 168, 0.4);
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
}
.card_product_card__jnE_b:hover {
  box-shadow: 0px 4px 35px 0px rgba(168, 168, 168, 0.9);
}
.card_product_card__jnE_b:hover .card_card_image__RrE5s {
  transform: scale(1.1);
}
.card_product_card__jnE_b .card_card_image__RrE5s {
  flex: 0 0 auto;
  transition-duration: 0.3s;
  align-self: center;
  height: 210px;
  width: 140px;
  margin-bottom: 20px;
}
.card_product_card__jnE_b .card_card_image__RrE5s img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card_product_card__jnE_b .card_card_label__7P7Dj {
  margin-bottom: 5px;
  padding: 1px 5px;
}
.card_product_card__jnE_b .card_card_info__OuT4O {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.card_product_card__jnE_b .card_card_info__OuT4O .card_price__Z8g6F {
  font-size: 20px;
  font-weight: 600;
  color: #00ad1c;
}
.card_product_card__jnE_b .card_card_info__OuT4O .card_add_to_cart__fF_Nz img {
  height: 30px;
  width: 30px;
}

@media (max-width: 425px) {
  .card_product_card__jnE_b {
    padding: 10px;
    width: 110px;
    font-size: 8px;
  }
  .card_product_card__jnE_b .card_card_image__RrE5s {
    margin: 0px;
    margin-bottom: 5px;
    height: 120px;
    width: 90px;
  }
  .card_product_card__jnE_b .card_card_label__7P7Dj {
    flex: 1 1 auto;
  }
  .card_product_card__jnE_b .card_card_info__OuT4O {
    padding: 0px 5px;
  }
  .card_product_card__jnE_b .card_card_info__OuT4O .card_price__Z8g6F {
    font-size: 12px;
  }
  .card_product_card__jnE_b .card_card_info__OuT4O .card_add_to_cart__fF_Nz img {
    height: 15px;
    width: 15px;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/Products-seaction/Search/search.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.search_search__6CGao {
  font-weight: 500;
  width: 100%;
  margin-right: 30px;
  position: relative;
}
.search_search__6CGao input {
  box-shadow: 0px 0px 65px 0px rgba(158, 158, 158, 0.4);
  border-radius: 10px;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  padding-left: 50px;
}
.search_search__6CGao::after {
  content: "";
  background-image: url(/_next/static/media/Search.2ab86428.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
}

@media (max-width: 480px) {
  .search_search__6CGao {
    width: 230px;
    margin: auto;
    margin-bottom: 10px;
  }
  .search_search__6CGao input {
    font-size: 12px;
    font-style: normal;
    height: 40px;
    font-weight: 600;
    padding-left: 35px;
  }
  .search_search__6CGao::after {
    height: 17px;
    width: 17px;
    top: 11px;
    left: 15px;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/loader-Style.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.loader-Style_loader__rxZFd {
    width: 180px;
    height: 150px;
    position: relative;
  }
  .loader-Style_load_block__80O4k{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .loader-Style_loader_text__t5xEc {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: rgb(26, 207, 65);
    animation: loader-Style_text_713__IaklI 3.5s ease both infinite;
    font-size: 2rem;
    letter-spacing: 1px;
  }
  
  .loader-Style_load__J0Qkt {
    background-color: #79ffb5;
    border-radius: 50px;
    display: block;
    height: 36px;
    width: 36px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loader-Style_loading_713__92vu4 3.5s ease both infinite;
  }
  
  .loader-Style_load__J0Qkt::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0dc94c;
    border-radius: inherit;
    animation: loader-Style_loading2_713__NiRoR 3.5s ease both infinite;
  }
  
  @keyframes loader-Style_text_713__IaklI {
    0% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  
    40% {
      letter-spacing: 2px;
      transform: translateX(26px);
    }
  
    80% {
      letter-spacing: 1px;
      transform: translateX(32px);
    }
  
    90% {
      letter-spacing: 2px;
      transform: translateX(0px);
    }
  
    100% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loader-Style_loading_713__92vu4 {
    0% {
      width: 16px;
      transform: translateX(0px);
    }
  
    40% {
      width: 100%;
      transform: translateX(0px);
    }
  
    80% {
      width: 16px;
      transform: translateX(64px);
    }
  
    90% {
      width: 100%;
      transform: translateX(0px);
    }
  
    100% {
      width: 16px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loader-Style_loading2_713__NiRoR {
    0% {
      transform: translateX(0px);
      width: 16px;
    }
  
    40% {
      transform: translateX(0%);
      width: 80%;
    }
  
    80% {
      width: 100%;
      transform: translateX(0px);
    }
  
    90% {
      width: 80%;
      transform: translateX(15px);
    }
  
    100% {
      transform: translateX(0px);
      width: 16px;
    }
  }
   
   
  
  
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/Products-seaction/productsSeaction.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.productsSeaction_product_block__kKtXg {
  padding: 0px 10px;
  margin-top: 35px;
}
.productsSeaction_product_block__kKtXg .productsSeaction_wrapper__72_wP {
  max-width: 1200px;
  margin: auto;
}
.productsSeaction_product_block__kKtXg .productsSeaction_wrapper__72_wP .productsSeaction_label_block__z5bcR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 990px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 425px) {
  .productsSeaction_product_block__kKtXg .productsSeaction_wrapper__72_wP .productsSeaction_label_block__z5bcR {
    margin-bottom: 70px;
  }
  .productsSeaction_product_block__kKtXg .productsSeaction_wrapper__72_wP .productsSeaction_label_block__z5bcR h2 {
    font-size: 24px;
  }
}
.productsSeaction_product_block__kKtXg .productsSeaction_wrapper__72_wP .productsSeaction_label_block__z5bcR h2 {
  color: #1e1e1e;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}
@media (max-width: 425px) {
  .productsSeaction_product_block__kKtXg .productsSeaction_wrapper__72_wP .productsSeaction_label_block__z5bcR h2 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 25px;
    max-width: 270px;
  }
}
.productsSeaction_product_block__kKtXg .productsSeaction_wrapper__72_wP .productsSeaction_label_block__z5bcR h2 span {
  color: #096518;
}
.productsSeaction_product_block__kKtXg .productsSeaction_wrapper__72_wP .productsSeaction_label_block__z5bcR p {
  max-width: 720px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 425px) {
  .productsSeaction_product_block__kKtXg .productsSeaction_wrapper__72_wP .productsSeaction_label_block__z5bcR p {
    font-size: 12px;
    max-width: 270px;
    text-align: left;
  }
}
.productsSeaction_product_block__kKtXg .productsSeaction_wrapper__72_wP .productsSeaction_water_image__nHnxE {
  display: none;
}
@media (max-width: 425px) {
  .productsSeaction_product_block__kKtXg .productsSeaction_wrapper__72_wP .productsSeaction_water_image__nHnxE {
    display: block;
    position: absolute;
    width: 200px;
    height: 125px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -95px;
  }
}

.productsSeaction_products_plate__qI_rb {
  position: relative;
  box-shadow: 0px 0px 65px 0px rgb(158, 158, 158);
  border-radius: 50px;
  background: #fff;
  padding: 50px 100px;
}
@media (max-width: 425px) {
  .productsSeaction_products_plate__qI_rb {
    padding: 30px 0px;
  }
}
.productsSeaction_products_plate__qI_rb .productsSeaction_filter_block__XcdFR {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .productsSeaction_products_plate__qI_rb .productsSeaction_filter_block__XcdFR {
    flex-direction: column;
  }
}
.productsSeaction_products_plate__qI_rb .productsSeaction_product_cards_row__9VQxD {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/HomeScreen/HomeScreen.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.HomeScreen_homeScreen__nCXCR .HomeScreen_wrapper__v1B1E {
  max-width: 1400px;
  margin: auto;
}
.HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY {
  top: -20px;
  position: relative;
  height: 800px;
  width: 100%;
  background-image: url(/_next/static/media/back-main-screen.ae8a48c5.svg);
  background-repeat: no-repeat;
  background-size: 75% 100%;
  background-position: right;
}
@media (max-width: 768px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY {
    width: 100%;
    background-size: auto;
  }
}
@media (max-width: 425px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY {
    padding: 0px 10px;
    background-size: auto 100%;
    background-position: -565px 0;
  }
}
.HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_leftProduct__ssTuP {
  transition-duration: 0.3s;
  position: absolute;
  top: 200px;
  right: 320px;
  transform: rotate(-22.76deg);
  height: 350px;
  width: 150px;
}
@media (max-width: 425px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_leftProduct__ssTuP {
    width: 67.77px;
    top: 570px;
    height: 157.227px;
    right: 245px;
    transform: scale(1.5) rotate(-22.76deg);
  }
}
@media (max-width: 370px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_leftProduct__ssTuP {
    width: 67.77px;
    top: 570px;
    height: 157.227px;
    right: 210px;
    transform: scale(1.4) rotate(-22.76deg);
  }
}
.HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_centerProduct__y0B4K {
  transition-duration: 0.3s;
  position: absolute;
  top: 190px;
  right: 170px;
  height: 600px;
  width: 220px;
  /* height: 80%;
    width: 20%; */
}
@media (max-width: 425px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_centerProduct__y0B4K {
    height: 275px;
    width: 120px;
    top: 475px;
    right: 120px;
    transform: scale(1.5);
  }
}
@media (max-width: 370px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_centerProduct__y0B4K {
    height: 275px;
    width: 120px;
    top: 475px;
    right: 90px;
    transform: scale(1.5);
  }
}
.HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_rightProduct__ZW843 {
  transition-duration: 0.3s;
  position: absolute;
  top: 350px;
  right: 80px;
  height: 350px;
  width: 150px;
  transform: rotate(15.45deg);
}
@media (max-width: 425px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_rightProduct__ZW843 {
    height: 185px;
    width: 80px;
    right: 45px;
    transform: scale(1.5) rotate(11.45deg);
    top: 500px;
  }
}
@media (max-width: 370px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_rightProduct__ZW843 {
    height: 185px;
    width: 80px;
    right: 20px;
    transform: scale(1.4) rotate(11.45deg);
    top: 500px;
  }
}
.HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_aloe__E9Oiv {
  position: absolute;
  top: 530px;
  left: 245px;
  height: 300px;
  width: 400px;
  display: none;
}
.HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX {
  margin-top: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 425px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX {
    padding: 0px 10px;
  }
}
.HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX h1 {
  margin-bottom: 50px;
  width: 800px;
  font-size: 70px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}
@media (max-width: 1024px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX h1 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX h1 {
    font-size: 40px;
    width: 400px;
  }
}
@media (max-width: 425px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX h1 {
    font-size: 24px;
    margin-bottom: 25px;
    width: 270px;
  }
}
.HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX h1 span {
  display: block;
  color: #096518;
}
.HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX h2 {
  max-width: 600px;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX h2 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX h2 {
    font-size: 16px;
    width: 320px;
  }
}
@media (max-width: 425px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX h2 {
    font-size: 12px;
    width: 185px;
    margin-bottom: 25px;
  }
}
.HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX a {
  display: inline-block;
  padding: 25px 70px 25px 50px;
  color: white;
  border-radius: 65px;
  background: #096518;
  box-shadow: 0px 4px 25px 0px rgba(9, 101, 24, 0.25), 0px 4px 15px 0px rgba(71, 71, 71, 0.25) inset;
  position: relative;
}
.HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX a::before {
  content: "";
  background-image: url(/_next/static/media/Catalog-White.7640635f.svg);
  height: 25px;
  width: 25px;
  position: absolute;
  top: 25px;
  right: 35px;
}
@media (max-width: 425px) {
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX a {
    padding: 16px 50px 16px 30px;
    font-size: 12px;
  }
  .HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_label__r_rBX a::before {
    width: 17px;
    height: 17px;
    background-size: contain;
    top: 14px;
    right: 25px;
  }
}
.HomeScreen_homeScreen__nCXCR .HomeScreen_homeScreen_row__W3ltY .HomeScreen_background__7zMhX {
  text-align: right;
  height: 800px;
  width: 500px;
  background-image: url(/_next/static/media/back-main-screen.ae8a48c5.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
