.homeScreen {
  .wrapper {
    max-width: 1400px;
    margin: auto;
  }
  .homeScreen_row {
    @media (max-width: 768px) {
      overflow: hidden;
      width: 100%;
      background-size: auto;
    }
    @media (max-width: 425px) {
      padding:0px 10px;
      background-size: auto 100%;
      background-position: -565px 0;
    }
    top: -20px;
    position: relative;
    height: 800px;
    width: 100%;
    background-image: url(../../image/back-main-screen.webp);
    background-repeat: no-repeat;
    background-size: 75% 100%;
    background-position: right;

    .leftProduct {
 
      transition-duration: 0.3s;
      position: absolute;
      top: 200px;
      right: 320px;
      transform: rotate(-22.76deg);
      height: 350px;
      width: 150px;
      @media (max-width: 425px) {
        width: 67.77px;
        top: 570px;
        height: 157.227px;
        right: 245px;
        transform: scale(1.5) rotate(-22.76deg);
      }
      @media (max-width: 370px) {
        width: 67.77px;
        top: 570px;
        height: 157.227px;
        right: 210px;
        transform: scale(1.4) rotate(-22.76deg);
      }
    }
    .centerProduct {
    
      transition-duration: 0.3s;
      @media (max-width: 425px) {
        height: 275px;
        width: 120px;
        top: 475px;
        right: 120px;
        transform: scale(1.5);
      }
      @media (max-width: 370px) {
        height: 275px;
        width: 120px;
        top: 475px;
        right: 90px;
        transform: scale(1.5);
      } 
      position: absolute;
      top: 190px;
      right: 170px;
      height: 600px;
      width: 220px;
      /* height: 80%;
        width: 20%; */
    }
    .rightProduct {
     
      transition-duration: 0.3s;
      @media (max-width: 425px) {
        height: 185px;
        width: 80px;
        right: 45px;
        transform: scale(1.5) rotate(11.45deg);
        top: 500px;
      }
      @media (max-width: 370px) {
        height: 185px;
        width: 80px;
        right: 20px;
        transform: scale(1.4) rotate(11.45deg);
        top: 500px;
      } 
      position: absolute;
      top: 350px;
      right: 80px;
      height: 350px;
      width: 150px;
      transform: rotate(15.45deg);
    }
    .aloe {
      position: absolute;
      top: 530px;
      left: 245px;
      height: 300px;
      width: 400px;
      display: none;
    }
    .label {
      @media (max-width: 425px) {
       padding:0px  10px;
      }
      margin-top: 100px;
      position: absolute;
      top: 0;
      left: 0;

      h1 {
        @media (max-width: 1024px) {
          font-size: 50px;
        }
        @media (max-width: 768px) {
          font-size: 40px;
          width: 400px;
        }
        @media (max-width: 425px) {
          font-size: 24px;
          margin-bottom: 25px;
          width: 270px;
        }
        margin-bottom: 50px;
        width: 800px;
        font-size: 70px;
        font-weight: 600;
        position: relative;
        z-index: 2;
        span {
          display: block;
          color: #096518;
        }
      }
      h2 {
        @media (max-width: 1024px) {
          font-size: 20px;
        }
        max-width: 600px;
        margin-bottom: 50px;
        @media (max-width: 768px) {
          font-size: 16px;
          width: 320px;
        }
        @media (max-width: 425px) {
          font-size: 12px;
          width: 185px;
          margin-bottom: 25px;
        }
      }
      a {
        display: inline-block;
        padding: 25px 70px 25px 50px;
        color: white;
        border-radius: 65px;
        background: #096518;
        box-shadow: 0px 4px 25px 0px rgba(9, 101, 24, 0.25),
          0px 4px 15px 0px rgba(71, 71, 71, 0.25) inset;
        position: relative;
        &::before {
          content: "";
          background-image: url(../../image/icons/Catalog-White.svg);
          height: 25px;
          width: 25px;
          position: absolute;
          top: 25px;
          right: 35px;
        }
        @media (max-width: 425px) {
          padding: 16px 50px 16px 30px;
          font-size: 12px;
          &::before {
            width: 17px;
            height: 17px;
            background-size: contain;
            top: 14px;
            right: 25px;
          }
        }
      }
    }
    .background {
      text-align: right;
      height: 800px;
      width: 500px;
      background-image: url(../../image/back-main-screen.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
