.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0px 5px;
}
.main_title {
  font-size: 40px;
  font-weight: 600;
  color: #096518;
  margin-bottom: 40px;
  @media (max-width: 425px) {
    margin-bottom: 25px;
    font-size: 24px;
  }
}
.product_row {
  display: flex;
  align-items: flex-start;
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0px 15px;
  }
}
.product_visual {
  @media (max-width: 768px) {
    padding: 15px;
    width: 100%;
    margin-bottom: 25px;
  }

  padding: 40px;
  border-radius: 30px;
  background: #f3f0f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vertical_swiper {
  padding: 50px 0px;
  max-height: 550px;
  position: relative;
  @media (max-width: 425px) {
    padding: 30px 0px;
    max-height: 360px;
  }
  .vertical_slide {
    height: 150px !important;
    width: 120px;
    padding: 20px 25px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 425px) {
    width: 100px;
    margin-bottom: 20px !important;
    }
    img {
      width: auto;
      height: 150px;
      @media (max-width: 425px) {
        height: 80px;
      }
    }
  }
}
.vertical_prev,
.vertical_next {
  @media (max-width: 425px) {
    left: 35px;
  }
  cursor: pointer;
  left: 45px;
  position: absolute;
  svg {
    transition-duration: 0.3s;

    &:hover {
      path {
        fill: #096518;
      }
    }
  }

  z-index: 10;
}
.vertical_prev {
  top: 0px;
  transform: rotate(180deg);
}
.vertical_next {
  bottom: 0px;
}
.main_image_slider {
  padding: 0px 100px;
  position: relative;
  @media (max-width: 480px) {
    margin: auto;
    padding: 0px;
    width: 50vw;
    padding-left: 25px;
  }
   @media (max-width: 350px) {
  
    padding-left: 15px;
  }
}

.capacity {
  position: absolute;
  top: 0px;
  right: 0px;
  @media (max-width: 768px) {
    display: none;
  }
}
.product_info {
  @media (max-width: 768px) {
    margin-left: 0px;
    width: 100%;
  }
  margin-left: 30px;
}
.main_info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  span {
    font-size: 36px;
    color: #00ad1c;
    @media (max-width: 425px) {
      font-size: 20px;
    }
  }

  img {
    margin-right: 20px;
    height: 50px;
    width: 50px;
    @media (max-width: 425px) {
      height: 25px;
      width: 25px;
    }
  }
}
.capacity_info {
  @media (max-width: 425px) {
    font-size: 12px;
  }
  margin-left: 25px;
}
.stock {
  color: #00ad1c;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  @media (max-width: 425px) {
    font-size: 12px;

  }
  &::after {
    content: "";
    background-image: url(../../../image/icons/Done.svg);
    background-size: contain;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 5px;
    z-index: 2;
    margin-left: 10px;
    @media (max-width: 425px) {
  top: 0;
  
    }
  }
}
.btn_to_cart {

  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  position: relative;
  margin-bottom: 60px;
  padding: 20px 70px 20px 40px;
  color: #fff;
  border-radius: 65px;
  background: #096518;
  box-shadow: 0px 4px 25px 0px rgba(9, 101, 24, 0.25),
    0px 4px 15px 0px rgba(71, 71, 71, 0.25) inset;
    @media (max-width: 425px) {
   width: 100%;
  margin-bottom: 25px;
    }
  &::after {
    content: "";
    margin-left: 10px;
    background-image: url(../../../image/icons/Basket.svg);
    height: 30px;
    width: 30px;
    background-size: contain;
    position: absolute;
    top: 17px;
  }
}
.product_information {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  transition-duration: 0.3s;
  
  &.active {
    p {
      max-height: 1800px;
      overflow: visible;
    }
    span {
      display: none;
    }
  }
  p {
    // max-width: 400px;
    max-height: 180px;
    overflow: hidden;
    margin-bottom: 30px;
    text-align: justify;
  }
  span {
    cursor: pointer;
    transition-duration: 0.2s;
    &:hover {
      color: #00ad1c;
    }
    font-size: 20px;
    font-weight: 600;
    color: #096518;
  }
}
