.lang {
    display: flex;
    @media (max-width: 1000px) {
      font-size: 16px;
    }
    li {
    }
  }
  .ua {
    margin-right: 10px;
    cursor: pointer;
  }
  .en {
    margin-right: 10px;
    cursor: pointer;
  }
  .ru {
    cursor: pointer;
  }
  